[submodule "deps/Rocket"]
	path = deps/Rocket
	url = https://github.com/SergioBenitez/Rocket.git
[submodule "python/ginput-service"]
	path = python/ginput-service
	url = git@github.com:WennbergLab/auto-mod-python.git
[submodule "python/ginput"]
	path = python/ginput
	url = git@github.com:WennbergLab/py-ginput-devel.git
