<a href="{{ nav_url_for(name='submit_job') }}">Submit a job</a> | <a href="{{ nav_url_for(name='check_jobs') }}">Check job status</a> | <a href="{{ nav_url_for(name='check_std_sites') }}">Standard sites availability</a>