<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ uri(uri='/static/main.css') }}">
        <title>GGG priors manager - {{ subtitle }}</title>
    </head>
    <body>
        <div class="sidebar">
            <div>Home</div>
            <div>Your jobs' status</div>
            <div>Submit job</div>
            <div>Job queue</div>
            <div>Met data</div>
        </div>

        {% block content %}{% endblock content %}
    </body>
</html>