<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ uri(uri='/static/main.css') }}">
        <title>GGG priors manager - {{ subtitle }}</title>
    </head>
    <body>
        <div class="sidebar">
            {{ sblink(uri='/', text='Home', link_page_id='home', page_id=page_id) }}
            {{ sblink(uri='/job-statuses', text='Your job statuses', page_id=page_id) }}
            {{ sblink(uri='/submit-job', text='Submit job', page_id=page_id) }}
            {{ sblink(uri='/job-queue', text='Job queue', page_id=page_id) }}
            {{ sblink(uri='/std-sites', text='Standard sites', page_id=page_id) }}
            {{ sblink(uri='/met-data', text='Met data', page_id=page_id) }}
        </div>

        {% block content %}{% endblock content %}
    </body>
</html>