{% extends "base.html" %}

{% block content %}
<div class="body-text">
    <h1>{{ Self::subtitle(self) }}</h1>
    {% if let Some(user) = user %}
        <p>Hello {{ user.username }}. You have:</p>
        <ul>
            <li>{{ user_jobs.pending.len() }} jobs waiting to start,</li>
            <li>{{ user_jobs.running.len() }} jobs currently running, and</li>
            <li>{{ user_jobs.ready_for_download.len() }} jobs ready to download.</li>
        </ul>

        <h2>Jobs ready</h2>
        {% if !user_jobs.ready_for_download.is_empty() %}
            <table class="job-table">
                <thead><th>Location(s)</th><th>Dates</th><th>Deletes at (US Pacific time)</th><th>Download</th></thead>
                {% for job in user_jobs.ready_for_download %}
                <tr>
                    <td>{{ job.long_site_locs }}</td>
                    <td>{{ job.start_date }} to {{ job.end_date }}</td>
                    <td>{{ job.delete_time }}</td>
                    {% if let Ok(link) = user_jobs.ftp_link(job) %}
                        <td><a href="{{ link }}">FTP</a></td>
                    {% else %}
                        <td>(not available)</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>

            <p>To download all the jobs listed, save the links below as a plain text file on your computer.
               Then, assuming the links are saved as <code>links.txt</code> in your current directory,
               use <code>wget</code> in your terminal to retrieve it with your FTP-registered email with
               <code>wget --user=anonymous --password={{ user.email }} --input-file links.txt</code> </p>

            <pre class="code-box" id="download-links">{{ user_jobs.all_ftp_download_links() }}</pre>
            <button onclick="copyLinks()">Copy to clipboard</button> <span id="copied">Copied!</span>
        {% else %}
            <p>No jobs are ready to download, either they are not yet finished or were already cleaned up.</p>
        {% endif %}

        <h2>Pending and running jobs</h2>
        {% if user_jobs.pending.is_empty() && user_jobs.running.is_empty() %}
            <p>No jobs associated with your account are pending or running.</p>
        {% else %}
            <table class="job-table">
                <thead><th>Submitted on (US/Pacific)</th><th>Location(s)</th><th>Dates</th><th>State</th></thead>
                {% for job in user_jobs.running.iter().chain(user_jobs.pending.iter()) %}
                <tr>
                    <td>{{ job.submit_time }}</td>
                    <td>{{ job.long_site_locs }}</td>
                    <td>{{ job.start_date }} to {{ job.end_date }}</td>
                    <td>{{ job.state }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h2>Errored jobs</h2>
        {% if user_jobs.errored.is_empty() %}
            <p>No jobs associated with your account submitted after {{ user_jobs.submitted_after }} have errored</p>
        {% else %}
            <table class="job-table">
                <thead><th>Submitted on (US/Pacific)</th><th>Location(s)</th><th>Dates</th></thead>
                {% for job in user_jobs.errored %}
                <tr>
                    <td>{{ job.submit_time }}</td>
                    <td>{{ job.long_site_locs }}</td>
                    <td>{{ job.start_date }} to {{ job.end_date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h2>Completed jobs</h2>
        {% if user_jobs.cleaned.is_empty() %}
            <p>No jobs associated with your account submitted after {{ user_jobs.submitted_after }} have been cleaned up yet.</p>
        {% else %}
            <table class="job-table">
                <thead><th>Submitted on (US/Pacific)</th><th>Location(s)</th><th>Dates</th></thead>
                {% for job in user_jobs.cleaned %}
                <tr>
                    <td>{{ job.submit_time }}</td>
                    <td>{{ job.long_site_locs }}</td>
                    <td>{{ job.start_date }} to {{ job.end_date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

    {% else %}
        <p>You must be logged in to use this page.</p>
    {% endif %}
</div>

<script>
    document.getElementById("copied").hidden = true;

    function copyLinks() {
        var copyText = document.getElementById("download-links");
        navigator.clipboard.writeText(copyText.innerText);
        document.getElementById("copied").hidden = false;
        setTimeout(function() {
            document.getElementById("copied").hidden = true;
        }, 2000);
    }
</script>
{% endblock content %}