/* Taken from https://blog.hubspot.com/website/css-sidebar
   Might want to replace with a flexbox or grid implementation later */ 
.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: lightsalmon;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    font-family: system-ui, sans-serif; 
}

.sidebar-current-page {
    background-color: coral;
    font-weight: bold;
}

.sidebar a:link {
    text-decoration: none;
    color: black;
}

.sidebar a:visited {
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    text-decoration: none;
    color: black;
}

.sidebar a:active {
    text-decoration: none;
    color: black;
}

.body-text {
    margin-left: 150px;
    font-family: system-ui, sans-serif; 
}

/* Specific table styles */
.job-table {
    border-collapse: collapse;
}

.job-table th {
    padding: 4pt 1em;
    background-color: coral;
}

.job-table td {
    padding: 4pt 1em;
    text-align: left;
}

.job-table tr:nth-child(odd) {
    background-color: lightsalmon;
}

.job-table tr:nth-child(even) {
    background-color: lightyellow;
}

/* Code styles */

.code-box {
    background-color: lightgray;
    border: 2px solid black;
    padding: 1em;
}